$clr-primary-purple: hsl(259, 100%, 65%);
$clr-primary-lightRed: hsl(0, 100%, 67%);

$clr-neutral-white: hsl(0, 0%, 100%);
$clr-neutral-offWhite: hsl(0, 0%, 94%);
$clr-neutral-lightGrey: hsl(0, 0%, 86%);
$clr-neutral-smokeyGrey: hsl(0, 1%, 44%);
$clr-neutral-offBlack: hsl(0, 0%, 8%);

$fs-inputFontSize: 2rem;
$fs-font: "Poppins", sans-serif;

html,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  width: 100%;
  display: block;
}

body {
  font-family: $fs-font;
  font-weight: 400;
  background-color: $clr-neutral-lightGrey;
}

.container-grid {
  width: 90%;
  margin: 3rem auto;
  padding: 4rem 1.2rem;
  display: grid;
  border-radius: 1rem 1rem 5rem 1rem;
  background-color: $clr-neutral-offWhite;
  .inputs {
    display: flex;
    gap: 0.725rem;
    width: 100%;
    padding-bottom: 5rem;
    margin-bottom: 5rem;
    position: relative;
    border-bottom: 2px solid $clr-neutral-lightGrey;
    .inputGroup{
      .error{
        font-size: 0.725rem;
        font-weight: 400;
        font-style: italic;
        color:$clr-primary-lightRed;
        display: block;
      }
      
    }
    .pos--relative {
      position: relative;
    }
    .dayInput:before {
      content: "DAY";
      position: absolute;
      top: 0;
      left: 0;
      transform: translate(0, -100%);
      color: $clr-neutral-smokeyGrey;
      z-index: 100;
      letter-spacing: 0.3rem;
    }
    .yearInput:before {
      content: "YEAR";
      position: absolute;
      top: 0;
      left: 0;
      transform: translate(0, -100%);
      color: $clr-neutral-smokeyGrey;
      z-index: 100;
      letter-spacing: 0.3rem;
    }
    .monthInput:before {
      content: "MONTH";
      position: absolute;
      top: 0;
      left: 0;
      transform: translate(0, -100%);
      color: $clr-neutral-smokeyGrey;
      z-index: 100;
      letter-spacing: 0.3rem;
    }
    input {
      text-align: left;
      width: 100%;
      padding: 0.725rem 1rem;
      font-size: 1.5rem;
      font-weight: 700;
      border: 1px solid $clr-neutral-smokeyGrey;
      border-radius: 0.425rem;
      position: relative;
      outline: none;
      background-color: $clr-neutral-offWhite;
    }
    input:hover,
    input:focus {
      border: 1px solid $clr-primary-purple;
    }
    .inputError{
      color: $clr-primary-lightRed;
      // border: 1px solid $clr-primary-lightRed;
    }
    
  }

  .arrow:before {
    content: url(../assets/images/icon-arrow.svg);
    width: 3rem;
    height: 3rem;
    padding: 1rem;
    border-radius: 50%;
    position: absolute;
    bottom: 0;
    background-color: $clr-primary-purple;
    left: 50%;
    transform: translate(-50%, 50%);
    transition: padding 0.4s ease;
  }
  .arrow:hover:before {
    background-color: $clr-neutral-offBlack;
    cursor: pointer;
    padding: 1.25rem;
    transition: padding 0.4s ease;
  }

  .results {
    font-size: 3rem;
    font-weight: 800;
    font-style: italic;
    span {
      color: $clr-primary-purple;
    }
  }
}

@media (min-width: 40em) {
    html{
        font-size: 20px;
    }
  .container-grid {
    width: 40%;
    padding: 4rem 5rem;
    .arrow:before {
        left: 100%;
        text-align: center;
        
      }
      
  }
}
